h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
}

#alphabet li {
  border-style: outset;
  width: 20px;
}

#alphabet {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
